body {
  width: 200px;
  font-family: sans-serif;
  padding: 10px;
}

button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #2d2d2d;
  color: white;
}

button:hover {
  background-color: #444;
}
